

/*
#img-div {
position: center;
background-color: rgba(45,45,45,0.1);
padding: 10px;
display: block;
height: auto;
width: 50%;
} 
*/
#image {
position: relative;
left: 30px;
margin-left: auto;
margin-right: auto;
display: block;
height: auto;;
max-height: 100%;
width: 50%;
max-width: 100%;
box-shadow: 0 10px 20px rgba(0,0,0,0.19);
object-fit: cover;
object-position: bottom;

}
@media only screen and (min-width: 200px) {
  image {
    width: 100%;
  }
}
#main {

padding: 10px;
font: Times New Roman;
font-size: 16px;
text-align: center;
box-shadow: 0 10px 20px rgba(0,0,0,0.19);

}
#tribute-info {
position: center;
font-size: 30px;
font-family: "Times New Roman", Times, serif;
box-shadow: 0 10px 20px rgba(250,200,0,0.19);
padding: 10px;
}

h1 {
box-shadow: 0 10px 20px rgba(250,200,0,0.19);
padding: 10px;
}

